<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DailyReportSystem</title>
</head>
<body>
    <h1>id:<span th:text="*{employee.id}"></span>　の従業員情報 詳細ページ</h1>

    <form method="post" action="/employee/detail">
        <table th:object="${employee}">
            <tr><th>社員番号</th><td><input type="text" name="authentication.code" th:value="*{authentication.code}"></td></tr>
            <tr><th>氏名</th><td><input type="text" name="name" th:value="*{name}"></td></tr>
            <tr><th>権限</th><td><input type="text" name="authentication.role" th:value="*{authentication.role}"></td></tr>
            <tr><th>登録日時</th><td><input type="text" name="register" th:value="*{createdAt}"></td></tr>
            <tr><th>更新日時</th><td><input type="text" name="update" th:value="*{updatedAt}"></td></tr>

        </table>
        <a th:href="@{/employee/update/{id}/(id=${employee.id})}">この従業員情報を編集する</a>
        <a th:href="@{/employee/list}">一覧へ戻る</a>

    </form>
</body>
</html>