<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DailyReportSystem</title>
     <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <header>
    <h1>日報管理システム</h1>
    <ul>
        <li>従業員管理</li>
        <li>日報管理</li>
        <li></li>
        <li>ログアウト</li>
    
    </ul>
    </header>
        
    <h2>従業員　新規登録ページ</h2>
    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
        <label for="code">社員番号</label>
        <input type="text" th:field="*{authentication.code}" th:errorclass="err">
        <span th:errors="*{authentication.code}" class="err"></span>
        <br>

        <label for="name">氏名</label>
        <input type="text" th:field="*{name}" th:errorclass="err">
        <span th:errors="*{name}" class="err"></span>
        <br>

        <label for="password">パスワード</label>
        <input type="text" th:field="*{authentication.newpass}" th:errorclass="err">
        <span th:errors="*{authentication.newpass}" class="err"></span>
        <br>

        <label for="role">権限</label>
        <select th:field="*{authentication.role}" th:errorclass="err">
            <option
                th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}"
                th:value="${item}" th:text="${item}" th:selected="*{authentication.role} == ${item}">
        </select>

        <span th:errors="*{authentication.role}" class="err"></span>
        <br> 
        <input type="submit" value="投稿">
        <a th:href="@{/employee/list}">一覧に戻る</a>
    </form>
</body>
</html>